
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>My Chat Session</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
</head>
<body style="background-color:powderblue;">
  <div id="chat">
    
  </div>
  <textarea id="text" type="chat"></textarea>
  <button id="chat_form">Chat Now</button>
  <script src="/client.js"></script>
</body>
</html>

