<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>coding mentorship</title>
    <meta name="description" content=" get connected">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
  </head>
  <body>
    
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Coding Mentorship</a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">home </a></li>
      
      </ul>
    </div>
    
       
     
  </nav>
    <div class="row">
    <form id="sign_up_form" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      
       <div class="row">
        <div class="input-field col s12">
          <br>
          <input id="username" type="username" class="validate">
          <label class="active" for="username">Username</label>
        </div>
      </div>
  
      
      <div class="row">
        <!-- Switch -->
  <div class="switch">
    <label>
      Student
      <input type="checkbox">
      <span class="lever"></span>
      Mentor
    </label>
  </div>

</div>

      
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      
       <div class="row">
        <div class="input-field col s12">
          <br>
          <input id="age" type="age" class="validate">
          <label class="active" for="age">Age</label>
          <p> Only for minimun of 10 years and a maximun of 35 years. </p>
        </div>
      </div>
      
       <div class="row">
        <div class="input-field col s12">
         <br>
          <input id="gender" type="gender" class="validate">
          <label class="active" for="gender">Gender</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        </div>
      </div>
    </form>
    
    <div class="col s6">
      placeholder
      </div>
  </div>
    
      
<h3>
  Go to login page once you submit!!!!
    </h3>
    
          
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Anaya Joynes</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Niyah Palmer</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sitala Terrell-Holloway</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Thanks to Jacob Bass</a></li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Thanks For Using</a>
            </div>
          </div>
        </footer>
            
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
          
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
  </body>
</html>
